<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF8" />
    <title>
      {{.title}}
    </title>
    <link rel="stylesheet" href="static/css/typo.css"/>

    <script src="static/js/jquery-3.7.1.min.js"></script>
    <script src="static/js/vis-network.min.js"></script>

    <style type="text/css">
      body {
        padding-left: 10px;
      }
      a {
        font-size: 12px;
      }
      i.serif{ text-transform:lowercase; color:#1abc9c; }
      #serviceMap {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        /* border: 1px solid lightgray; */
      }
    </style>
  </head>
  <body>
    <h1>生产环境服务关系</h1>
    <p>
      <span><a href="#">{{.version}}</a></span>
    </p>
    <p><strong id="info"></strong></p>
    <div id="serviceMap"></div>
    <script type="text/javascript" src="static/js/main.js"></script>
  </body>
</html>
